
    <div class="sidebar">
        <a (click)="getMenuItem('latestExchangeRate')" href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a (click)="getMenuItem('historicalExchangeRate')" href="#services"><i class="fa fa-fw fa-wrench"></i> Historical Exchange Rate</a>
        <a (click)="getMenuItem('currencyConversion')" href="#clients"><i class="fa fa-fw fa-user "></i> Currency Conversion</a>
        <a (click)="getMenuItem('OtherCurrencyConversion')" href="#contact"><i class="fa fa-fw fa-envelope"></i> Other conversions</a>
    </div>

  

