<div>
  <app-exchange-rate></app-exchange-rate>
  <app-historical-exchange-rate></app-historical-exchange-rate>
  <app-specific-historical-exchange-rate></app-specific-historical-exchange-rate>
  <app-other-currency-exchange-rate-conversion></app-other-currency-exchange-rate-conversion>
  <app-selected-currencies-exchange-rate></app-selected-currencies-exchange-rate>
  <app-selected-currencies-historical-exchange-rate></app-selected-currencies-historical-exchange-rate>
  <app-specific-currency-exchange-rate></app-specific-currency-exchange-rate>
</div>



<router-outlet></router-outlet>