<div class="container">
    <app-navbar (menuItem)="getMenuItem($event)" ></app-navbar>
   
        <ng-container *ngIf="flag ==='latestExchangeRate'">
          <div>
            <div class="row">
                <div class="form-group col-4 offset-1 mt-4 pl-0">
                    <label for="inputState">Base Currency:</label>
                    <select id="inputState" class="form-control" [(ngModel)]="baseCurrency">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of countryCode " [value]="item">{{item}}</option>
                    </select>
                </div>
                <div class="form-group col-2 align-self-end">
                    <button class="btn btn-primary" type="submit" (click) ="getSpecificCurrencyExchangeRate()">Submit</button>
                </div>
                <div class="form-group col-4 mt-4">
                    <label for="usr">Filter By Date</label>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    (ngModelChange)="getSpecificDaysHistoricalData($event)"
                    [bsConfig]="{ isAnimated: true }" 
                    [(ngModel)] ="bsInlineRangeValue"
                    name="startDate">
                </div>
               </div>
                   <div class="row d-flex mt-5">
                                <div class="card col-3 offset-1 mb-5 align-self-center">
                                    <div [ngClass]="'currency-flag-' + baseCurrency|lowercase" class='currency-flag mt-2 currency-flag-xl'></div>
                                    <div class="card-body">
                                      <h5 class="card-title">Base Currency</h5>
                                      <p class="card-text">{{baseCurrency}}</p>
                                    </div>
                    </div>
                 
                   </div>
                   <div class="row">
                                <div class="card col-3 offset-1 mb-5" style="width: 18rem;" *ngFor="let item of latestExchangeRate.rates | keyvalue" >
                                    <div [ngClass]="'currency-flag-' + item.key|lowercase" class='currency-flag mt-2'></div>
                                    <div class="card-body">
                                      <h5 class="card-title">{{item.key}}</h5>
                                      <p class="card-text">{{item.value}}</p>
                                    </div>
                                  </div>
                 
                   </div>
          </div>
           
        </ng-container>

        <ng-container *ngIf="flag === 'currencyConversion'">
        
            <div>
                 <div class="form-row mt-5">
                     <div class="form-group col-3">
                         <label for="usr">Currency value</label>
                         <input type="number" class="form-control" id="usr" [(ngModel)]="valueToBeConverted">
                     </div>
                     <div class="form-group col-3">
                         <label for="inputState">Base Currency:</label>
                         <select id="inputState" class="form-control" [(ngModel)]="baseCurrency">
                           <option selected>Choose...</option>
                           <option *ngFor="let item of countryCode " [value]="item">{{item}}</option>
                         </select>
                       </div>
                      <div class="form-group col-3">
                         <label for="inputState">Conversion Currency :</label>
                         <select id="inputState" class="form-control" [(ngModel)]="conversionCurrency">
                           <option selected>Choose...</option>
                           <option *ngFor="let item of countryCode " [value]="item">{{item}}</option>
                         </select>
                       </div>
                       <div class="form-group col-3 align-self-end">
                         <button class="btn btn-primary" type="submit"  (click)="getSpecificCurrencyExchangeRate()">Submit</button>
                       </div>
                     <div *ngIf="convertedExchangeResult" class="card col-3 ml-3">
                        <div [ngClass]="'currency-flag-' + conversionCurrency|lowercase" class='currency-flag mt-2 currency-flag-xl'></div>
                        <div class="card-body">
                          <h5 class="card-title">Result:</h5>
                          <p class="card-text">{{convertedExchangeResult }} {{conversionCurrency}}</p>
                        </div>
                    </div>
     
                 </div>
             </div>   
         </ng-container>
    
         <ng-container *ngIf="flag === 'historicalExchangeRate'" >
            <div class="row">
                <div class="form-group col-4">
                    <label for="usr">Start Date:</label>
                    <input type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true }" 
                    [(ngModel)] ="bsInlineRangeValue"
                    name="startDate">
                </div>
                <div class="form-group col-4">
                    <label for="endDate">End Date:</label>
                    <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]="{ isAnimated: true }" 
                       [(ngModel)] ="bsEndValue"
                       name="endDate">
                </div>
               <div class="form-group col-4 align-self-end">
                    <button class="btn btn-primary" type="submit" (click) ="getHistoricalExchangeRate()">Submit</button>
               </div>
            </div>
    
               
                    <div class="accordion mt-3 ml-3" id="accordionExample" >
                        <div class="card" *ngFor="let item of historicalExchangeRate.rates | keyvalue " >
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne'+item.key" aria-expanded="true" aria-controls="collapseOne">
                                {{item.key}}
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne{{item.key}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" *ngFor="let data of item.value | keyvalue">
                                <ul class="list-group list-group-horizontal-md">
                                    <li class="list-group-item">{{data.key}}</li>
                                    <li class="list-group-item">{{data.value}}</li>
                                  </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                
        
    </ng-container>
    

</div>
