<h2>Selected Currencies Exchange Rate</h2>
<div class="form-group">
    <label for="symbols">Currency</label>
    <input type="text" class="form-control" name="symbols" [(ngModel)]="symbols">
</div>
<div class="form-group">
    <button type="submit"(click)="getSelectedCurrenciesExchangeRateData()">Convert Currency</button>
</div>

<div *ngIf="loading">Loading...</div>
<div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage | json}}
</div>

<table>
    <tr>
        <th>Country</th>
        <th>Exchange Rate</th>
    </tr>
    <tr *ngFor="let item of selectedCurrenciesExchangeRate.rates | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
     </tr>

</table>
